section {
  margin: 5% 7%;
}

table {
  width: 100%;
  margin: 3% 0;
}
table tr {
  display: flex;
  flex-wrap: wrap;
  margin: 5% 0;
}
table th {
  width: 25%;
  font-size: 1.4rem;
  font-weight: bold;
}
table td {
  width: 75%;
}

@media screen and (max-width: 768px) {
  section {
    margin-top: 15%;
  }
  table tr {
    flex-direction: column;
    margin: 0 5%;
  }
  table th {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }
  table td {
    padding: 0 0 2% 3%;
    width: 100%;
  }
}